@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url('./../../public/6328118.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Utiliza unidades relativas */
  height: 100%; /* Utiliza unidades relativas */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .bg-image {
    background-image: url('./../../public/moviles.png'); /* Cambia la imagen de fondo para dispositivos móviles si es necesario */
    background-size: cover; /* Puedes ajustar esto según tus necesidades */
  }
}